# ---------- ALPACA ---------- #
ALPACA_API_KEY=
ALPACA_SECRET_KEY=

TICKERS=GOOGL,AAPL,META,MSFT,AMZN,NVDA

# ---------- POSTGRES ---------- #
POSTGRES_DB=stocks
POSTGRES_USER=stocks
POSTGRES_PASSWORD=stocks
