# ---------- ALPACA ---------- #
# Create your own API credentials at:
# https://app.alpaca.markets/signup
ALPACA_API_KEY=your_alpaca_api_key
ALPACA_SECRET_KEY=your_alpaca_secret_key

TICKERS=GOOGL,AAPL,META,MSFT,AMZN,NVDA

# ---------- POSTGRES ---------- #
# Local development database credentials.
POSTGRES_DB=stocks
POSTGRES_USER=stocks
POSTGRES_PASSWORD=stocks

# ---------- AIRFLOW ---------- #
# If not already present, generate with: openssl rand -hex 32
AIRFLOW_JWT_SECRET=your_generated_jwt_secret
